*.sln
*.suo
*.csproj
*.contentproj
*.cachefile
Game.ico
GameThumbnail.png
molnprojektet.csproj.user
molnprojektet/molnprojektet/obj/
molnprojektet/molnprojektet/bin/
molnprojektet/molnprojektetContent/obj/
molnprojektet/molnprojektetContent/bin/